@import "./utils/_variables.scss";
@import "./utils/_mixins.scss";
@import "./utils/_responsive.scss";

// éléments relatif à l'ensemble des pages
// styles généraux
body {
    margin: auto;
}

// header
header {
    @include header;
    .header{
        display: flex;
        justify-content: center;
        margin: auto;
        padding: 5px;
    }
    a img{
        max-width: max-content;
        display: inline-block;
        padding-left: 20px;
    }
}

// éléments page d'accueil
// main
main {
    @include main;
    h1{
        font-family: $main_font;
        font-size: 2em;
        color: $section_color;
        text-align: center;
        margin: auto;
        padding-top: 20px;
    }
    h2{
        font-family: $main_font;
        color: $main_color;
        text-align: center;
        margin: auto;
        font-size: 1.2em;
        font-weight: lighter;
        padding-top: 10px;
        padding-bottom: 10px;
    }
}

// section
section {
    a{
    @include section;
    @include flex_center;
    img{
        margin: auto;
        width: 250px;
        height: auto;
        border-radius: 20%;
        box-shadow: $box_shadow;
    }
    .teddies_ref{
        margin: auto;
        h3{
            color: $body_color;
            padding-left: 10px;
            padding-right: 20px;
            
        }
        p{
            color: $primary_color;
            font-style: italic;
        }
    }
}   
}

//animation a class "zoom"
.logo_zoom {
    opacity: 0.9;
    transform: scale(0.9);
    transition: transform 300ms ease-in-out;
    &:hover {
        opacity: 1;
        transform: scale(1);
    }
}

.section_zoom {
    transform: scale(0.95);
    background-color: $section_color;
    transition: transform 300ms ease-in-out;
    &:hover {
        transform: scale(1);
        background-color: $hover_color_section;
    }
}

// footer
footer {
    @include footer;
    @include flex_column;
    h2 {
        font-family: $main_font;
        font-size: 1em;
        font-weight: 400;
        color: $main_color;
        text-align: center;
        margin: auto;
        padding-top: 10px;
        padding-bottom: 8px;
    }
    a {
        color: $section_color;
        margin: auto;
        padding-bottom: 12px;
        font-family: $main_font;
        font-size: 0.9em;
        &:hover{
            color: $hover_color_link;
        }
    }
}

// éléments page produit
// éléments div principale
.teddy_ref {
    display: flex;
    box-shadow: $box_shadow;
    background-color: $section_color;
    margin: 30px auto 30px auto;
    height: auto;
    width: 70%;
    img {
        width: 40%;
        height: auto;
        margin: 50px;
        border-radius: 20%;
        box-shadow: $box_shadow;
    }
    .teddy_info {
        font-family: $main_font;
        color: $main_color;
        text-align: center;
        margin: auto;
        width: 40%;
        h3 {
            color: $body_color;
        }
        p {
            padding: 20px;
            color: $primary_color;
        }
    }
}

// éléments formulaire choix de couleur
.colors_choice{
    @include flex_column;
    label {
        color: $body_color;
    }
    select {
        margin: 20px auto 20px auto;
        padding: 5px;
        border-radius: 10px;
        box-shadow: $box_shadow;
        width: auto;
    }
}

// éléments de la div prix et panier
.price_div {
    margin: auto;
    color: $primary_color;
    font-family: $main_font;
}
    

  
// responsive
// écrans moins de 360px
@media #{$x_small_screen}
{
    main {
        @include flex_column;
        h1 {
            font-size: 1.2em;
        }
        h2 {
            font-size: 1em;
            margin-bottom: 10px;
            width: 80%;
        }
    }

    #teddies {
        @include flex_column;
        margin: auto;
    }

    section a {
        width: 250px;
        height: 180px;
        margin: 20px auto 20px auto;
        img{
            width: 140px;
        }
        .teddies_ref {
            margin: auto;
        }
    }

    footer {
        @include flex_sticky;
        h2 {
            width: 80%;
        }
    }

    .teddy_ref {
        @include flex_column;
        img {
            margin: auto;
            width: 80%;
            height: auto;
        }
        .teddy_info {
            width: 80%;
        }
    }
}

// écrans plus de 360px et moins de 760 px 
@media #{$small_screen}
{
    main {
        @include flex_column;
        h2 {
            margin-bottom: 10px;
            width: 80%;
        }
    }

    #teddies {
        @include flex_column;
        margin: auto;
    }

    section a {
        width: 300px;
        height: 200px;
        margin: 20px auto 20px auto;
        img {
            width: 150px;
        }
        .teddies_ref {
            margin: auto;
        }
    }

    footer {
        @include flex_sticky;
        h2 {
            width: 80%;
        }
    }
    .teddy_ref {
        @include flex_column;
        img {
            margin: 30px auto 30px auto;
            width: 80%;
            height: auto;
        }
        .teddy_info {
            width: 80%;
        }
    }
}

// écrans de plus de 760 px et moins de 1024px
@media #{$medium_screen}
{
    footer {
        @include flex_sticky;
    }

    .teddy_ref {
        @include flex_column;
        img {
            margin: 30px auto 30px auto;
            width: 80%;
            height: auto;
        }
        .teddy_info {
            width: 80%;
        }
    }
}

// format landscape
@media #{$landscape}
{
    footer {
        @include footer;
    }
}
