// fonts
$main_font: 'Montserrat', sans-serif;

// colors
/* backgrounds colors */
$primary_color: #f3e9f1;
$second_color: #ffffff;

// fonts colors
$main_color: #454545;
$name_color: tomato;

// box shadow
$box_shadow: 0 0 20px #bababa;
