// fonts
$main_font: 'Montserrat', sans-serif;

// colors
/* backgrounds colors */
$primary_color: #f3e9f1;
$body_color: #ffffff;
$section_color: tomato;
$hover_color_section: rgb(252, 82, 53);
$hover_color_link: rgb(172, 29, 4);

// fonts colors
$main_color: #454545;

// box shadow
$box_shadow: 0 0 20px #bababa;
